<div class="p-3 bg-main-400 rounded-lg shadow-md flex">
    <img class="flex-grow-0 w-20 h-20 rounded mr-3" src="https://picsum.photos/seed/{{product.id}}/200" />
    <div class="flex-1">
        <p>
            <span class="text-xl">{{product.name}}</span>
            <span class="bg-main-300 px-3 py-1 float-right rounded-md shadow-md">&euro; {{product.price}}</span>
        </p>
        <p class="text-xs">{{product.description}}</p>
        <button class="mt-3 text-sm bg-main-50 px-3 py-1 rounded-full shadow-lg">Add to cart</button>
    </div>
</div>
